<h2>Here are the farmer markets based on your search:</h2>

<h5>
{{#each market in model}}
{{log market}}

<ul>
<li><strong>{{market.market_name}}</strong></li>
<li>Address: {{market.street_address}}</li>
<li>Open Days and Hours: {{market.day_s}} from {{market.hours}}</li>
</ul>

{{/each}}
</h5>
